main.ed--main
    section.ed--module.hero
        .heroText
            h1(style='background-image:url('+`${assetPath}`+'heroTexture.jpg);') !{title}

    section.ed--module.ed--module-product-grid
        .gridHolder
            .grid-row
                .big-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="3" data-title=`${product_1_title}` data-subtitle=`${product_1_subtitle}` data-feed=`${feedPath}`+'/sets/men/balenciaga-triple-s-sneakers-men.aspx?format=json')
                .small-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_2_title}` data-subtitle=`${product_2_subtitle}` data-feed=`${feedPath}`+'/sets/men/yeezy-boost-350-men.aspx?format=json')

                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_3_title}` data-subtitle=`${product_3_subtitle}` data-feed=`${feedPath}`+'/sets/men/nike-air-max-97-men.aspx?format=json')

            .grid-row.double
                .half-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_4_title}` data-subtitle=`${product_4_subtitle}` data-feed=`${feedPath}`+'/sets/men/yeezy-boost-350-v2-men.aspx?format=json')
                .half-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_5_title}` data-subtitle=`${product_5_subtitle}` data-feed=`${feedPath}`+'/sets/men/nike-air-max-98-men.aspx?format=json')

            .grid-row
                .small-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_6_title}` data-subtitle=`${product_6_subtitle}` data-feed=`${feedPath}`+'/sets/men/adidas-nmd-men.aspx?format=json')

                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_7_title}` data-subtitle=`${product_7_subtitle}` data-feed=`${feedPath}`+'/sets/men/nike-air-max-1-men.aspx?format=json')

                .big-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="2" data-title=`${product_8_title}` data-subtitle=`${product_8_subtitle}` data-feed=`${feedPath}`+'/sets/men/nike-jordan-2-men.aspx?format=json')

            .grid-row.wide
                .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_9_title}` data-subtitle=`${product_9_subtitle}` data-feed=`${feedPath}`+'/sets/men/nike-air-force-men.aspx?format=json' data-iswide="yes" data-recursiveimagewide="1")

            .grid-row
                .big-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="3" data-title=`${product_10_title}` data-subtitle=`${product_10_subtitle}` data-feed=`${feedPath}`+'/sets/men/adidas-ultra-boost-men.aspx?format=json')
                .small-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_11_title}` data-subtitle=`${product_11_subtitle}` data-feed=`${feedPath}`+'/sets/men/pharrell-williams-tennis-hu-men.aspx?format=json')

                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_12_title}` data-subtitle=`${product_12_subtitle}` data-feed=`${feedPath}`+'/sets/men/adidas-eqt-men.aspx?format=json')

            .grid-row.double
                .half-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_13_title}` data-subtitle=`${product_13_subtitle}` data-feed=`${feedPath}`+'/sets/men/nike-air-force-1-men.aspx?format=json')

                .half-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_14_title}` data-subtitle=`${product_14_subtitle}` data-feed=`${feedPath}`+'/sets/men/nike-air-jordan-men.aspx?format=json')

            .grid-row
                .small-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_15_title}` data-subtitle=`${product_15_subtitle}` data-feed=`${feedPath}`+'/sets/men/yeezy-boost-750-men.aspx?format=json')
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_16_title}` data-subtitle=`${product_16_subtitle}` data-feed=`${feedPath}`+'/sets/men/pharrell-williams-nmd-men.aspx?format=json')
                .big-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="2" data-title=`${product_17_title}` data-subtitle=`${product_17_subtitle}` data-feed=`${feedPath}`+'/sets/men/nike-jordan-1-men.aspx?format=json')

            .grid-row.wide
                .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_18_title}` data-subtitle=`${product_18_subtitle}` data-feed=`${feedPath}`+'/sets/men/adidas-tubular-men.aspx?format=json' data-iswide="yes" data-recursiveimagewide="1")

            .grid-row
                .big-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="2" data-title=`${product_19_title}` data-subtitle=`${product_19_subtitle}` data-feed=`${feedPath}`+'/sets/men/adidas-iniki-men.aspx?format=json')
                .small-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_20_title}` data-subtitle=`${product_20_subtitle}` data-feed=`${feedPath}`+'/sets/men/adidas-stan-smith-men.aspx?format=json')

                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_21_title}` data-subtitle=`${product_21_subtitle}` data-feed=`${feedPath}`+'/sets/men/yeezy-powerphase-men.aspx?format=json')

            .grid-row.double
                .half-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_22_title}` data-subtitle=`${product_22_subtitle}` data-feed=`${feedPath}`+'/sets/men/nike-jordan-4-men.aspx?format=json')
                .half-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_23_title}` data-subtitle=`${product_23_subtitle}` data-feed=`${feedPath}`+'/sets/men/yeezy-boost-700-men.aspx?format=json')

            .grid-row.wide
                .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_24_title}` data-subtitle=`${product_24_subtitle}` data-feed=`${feedPath}`+'/sets/men/fear-of-god-x-vans-men.aspx?format=json' data-iswide="yes" data-recursiveimagewide="1")



