main.ed--main
    section.ed--module.hero
        .heroText
            h1(style='background-image:url('+`${assetPath}`+'heroTexture.jpg);') !{title}

    section.ed--module.ed--module-product-grid
        .gridHolder
            .grid-row
                .big-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_1_title}` data-subtitle=`${product_1_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')
                .small-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_2_title}` data-subtitle=`${product_2_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')

                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_3_title}` data-subtitle=`${product_3_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')

            .grid-row.double
                .half-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_4_title}` data-subtitle=`${product_4_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')
                .half-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_5_title}` data-subtitle=`${product_5_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')

            .grid-row
                .small-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_6_title}` data-subtitle=`${product_6_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')

                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_7_title}` data-subtitle=`${product_7_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')

                .big-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_8_title}` data-subtitle=`${product_8_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')

            .grid-row.wide
                .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_9_title}` data-subtitle=`${product_9_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json' data-iswide="yes" data-recursiveimagewide="1")

            .grid-row
                .big-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_10_title}` data-subtitle=`${product_10_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')
                .small-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_11_title}` data-subtitle=`${product_11_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')

                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_12_title}` data-subtitle=`${product_12_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')

            .grid-row.double
                .half-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_13_title}` data-subtitle=`${product_13_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')

                .half-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_14_title}` data-subtitle=`${product_14_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')

            .grid-row
                .small-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_15_title}` data-subtitle=`${product_15_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_16_title}` data-subtitle=`${product_16_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')
                .big-col
                    .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_17_title}` data-subtitle=`${product_17_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')

            .grid-row.wide
                .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_18_title}` data-subtitle=`${product_18_subtitle}` data-feed=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json' data-iswide="yes" data-recursiveimagewide="1")

