main.ed--main
    section.ed--module.hero
        .heroText
            h1(style='background-image:url('+`${assetPath}`+'heroTexture.jpg);') !{title}

    section.ed--module.ed--module-product-grid
        .gridHolder
            .ed--module-category-single-recursive(data-itemcta=`${product_cta}` data-recursiveimage="1" data-title=`${product_1_title}` data-subtitle=`${product_1_subtitle}` data-feed=`${feedPath}`+'/shopping/men/trainers-2/items.aspx?view=180&scale=283&category=136489&format=json' data-iswide="yes" data-recursiveimagewide="1")

